11.16/SligoCS.Tests.WI/obj
11.16/SligoCS.Web.WI/BL/bin
11.16/SligoCS.Web.WI/BL/obj
11.16/SligoCS.Web.WI/DAL/bin
SligoCS.Tests.WI/obj
SligoCS.Web.WI/BL/bin
SligoCS.Web.WI/BL/obj
SligoCS.Web.WI/DAL/bin
