* text=auto !eol
SligoCS/Code/SligoCS.BL.Base/EntityBase.cs -text
SligoCS/Code/SligoCS.BL.Base/Properties/AssemblyInfo.cs -text
SligoCS/Code/SligoCS.BL.Base/SligoCS.BL.Base.csproj -text
SligoCS/Code/SligoCS.BL.WI/BLDistrict.cs -text
SligoCS/Code/SligoCS.BL.WI/BLDropouts.cs -text
SligoCS/Code/SligoCS.BL.WI/BLRetention.cs -text
SligoCS/Code/SligoCS.BL.WI/DemoEntity.cs -text
SligoCS/Code/SligoCS.BL.WI/EntityWIBase.cs -text
SligoCS/Code/SligoCS.BL.WI/GenericsListHelper.cs -text
SligoCS/Code/SligoCS.BL.WI/Properties/AssemblyInfo.cs -text
SligoCS/Code/SligoCS.BL.WI/SampleEntity.cs -text
SligoCS/Code/SligoCS.BL.WI/SligoCS.BL.WI.csproj -text
SligoCS/Code/SligoCS.DAL.Base/DALBase.cs -text
SligoCS/Code/SligoCS.DAL.Base/Properties/AssemblyInfo.cs -text
SligoCS/Code/SligoCS.DAL.Base/SligoCS.DAL.Base.csproj -text
SligoCS/Code/SligoCS.DAL.WI/DALDistrict.cs -text
SligoCS/Code/SligoCS.DAL.WI/DALDropouts.cs -text
SligoCS/Code/SligoCS.DAL.WI/DALRetention.cs -text
SligoCS/Code/SligoCS.DAL.WI/DALWIBase.cs -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_Districts.Designer.cs -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_Districts.xsc -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_Districts.xsd -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_Districts.xss -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_RetentionWWoDisSchoolDistState.Designer.cs -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_RetentionWWoDisSchoolDistState.xsc -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_RetentionWWoDisSchoolDistState.xsd -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_RetentionWWoDisSchoolDistState.xss -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_dropoutsWWoDisSchoolDistState.Designer.cs -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_dropoutsWWoDisSchoolDistState.xsc -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_dropoutsWWoDisSchoolDistState.xsd -text
SligoCS/Code/SligoCS.DAL.WI/DataSets/v_dropoutsWWoDisSchoolDistState.xss -text
SligoCS/Code/SligoCS.DAL.WI/DemoDAL.cs -text
SligoCS/Code/SligoCS.DAL.WI/Properties/AssemblyInfo.cs -text
SligoCS/Code/SligoCS.DAL.WI/Properties/Settings.Designer.cs -text
SligoCS/Code/SligoCS.DAL.WI/Properties/Settings.settings -text
SligoCS/Code/SligoCS.DAL.WI/SQLHelper.cs -text
SligoCS/Code/SligoCS.DAL.WI/SampleDAL.cs -text
SligoCS/Code/SligoCS.DAL.WI/SligoCS.DAL.WI.csproj -text
SligoCS/Code/SligoCS.DAL.WI/app.config -text
SligoCS/Code/SligoCS.Web.Base/PageBase/PageBaseSligo.cs -text
SligoCS/Code/SligoCS.Web.Base/PageBase/WI/PageBaseWI.cs -text
SligoCS/Code/SligoCS.Web.Base/Properties/AssemblyInfo.cs -text
SligoCS/Code/SligoCS.Web.Base/SligoCS.Web.Base.csproj -text
SligoCS/Code/SligoCS.Web.Base/WebServerControls/WI/ChartMain.cs -text
SligoCS/Code/SligoCS.Web.Base/WebServerControls/WI/HyperLinkPlus.cs -text
SligoCS/Code/SligoCS.Web.Base/WebSupportingClasses/WI/ParamsHelper.cs -text
SligoCS/Code/SligoCS.Web.WI.sln -text
SligoCS/Code/SligoCS.Web.WI/Constants.cs -text
SligoCS/Code/SligoCS.Web.WI/Default.aspx -text
SligoCS/Code/SligoCS.Web.WI/Default.aspx.cs -text
SligoCS/Code/SligoCS.Web.WI/Default.aspx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/Demo.aspx -text
SligoCS/Code/SligoCS.Web.WI/Demo.aspx.cs -text
SligoCS/Code/SligoCS.Web.WI/Demo.aspx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/GridPage.aspx -text
SligoCS/Code/SligoCS.Web.WI/GridPage.aspx.cs -text
SligoCS/Code/SligoCS.Web.WI/GridPage.aspx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/ParameterDefaults.xml -text
SligoCS/Code/SligoCS.Web.WI/ParamsHelper.cs -text
SligoCS/Code/SligoCS.Web.WI/Properties/AssemblyInfo.cs -text
SligoCS/Code/SligoCS.Web.WI/QStringDemo/QStringDemo.aspx -text
SligoCS/Code/SligoCS.Web.WI/QStringDemo/QStringDemo.aspx.cs -text
SligoCS/Code/SligoCS.Web.WI/QStringDemo/QStringDemo.aspx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/QStringDemo/QStringLinks.aspx -text
SligoCS/Code/SligoCS.Web.WI/QStringDemo/QStringLinks.aspx.cs -text
SligoCS/Code/SligoCS.Web.WI/QStringDemo/QStringLinks.aspx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/SligoCS.Web.WI.csproj -text
SligoCS/Code/SligoCS.Web.WI/WI.Master -text
SligoCS/Code/SligoCS.Web.WI/WI.Master.cs -text
SligoCS/Code/SligoCS.Web.WI/WI.Master.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/Web.config -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/ParamsLinkBox.ascx -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/ParamsLinkBox.ascx.cs -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/ParamsLinkBox.ascx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/SligoDataGrid.ascx -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/SligoDataGrid.ascx.cs -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/SligoDataGrid.ascx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/SligoWIGraph.ascx -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/SligoWIGraph.ascx.cs -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/SligoWIGraph.ascx.designer.cs -text
SligoCS/Code/SligoCS.Web.WI/WebUserControls/WIUserControlBase.cs -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.Designer.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WebForms.Adornments.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WebForms.Adornments.xml -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WebForms.Base.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WebForms.Dhtml.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WebForms.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WebForms.xml -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.Adornments.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.Adornments.xml -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.Base.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.Data.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.Data.xml -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.dll -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.WinForms.xml -text
SligoCS/Code/SligoCS.Web.WI/bin/ChartFX.Wizard.dll -text
SligoCS/Code/SligoCS.Web.WI/dpi_mac.css -text
SligoCS/Code/SligoCS.Web.WI/dpi_pc.css -text
SligoCS/Code/SligoCS.Web.WI/images/assess_runner.gif -text
SligoCS/Code/SligoCS.Web.WI/images/best_pract.gif -text
SligoCS/Code/SligoCS.Web.WI/images/data_big.gif -text
SligoCS/Code/SligoCS.Web.WI/images/data_sm_lft.gif -text
SligoCS/Code/SligoCS.Web.WI/images/data_sm_lft_on.gif -text
SligoCS/Code/SligoCS.Web.WI/images/data_sm_rt.gif -text
SligoCS/Code/SligoCS.Web.WI/images/dataanalysis.gif -text
SligoCS/Code/SligoCS.Web.WI/images/grey_dot.gif -text
SligoCS/Code/SligoCS.Web.WI/images/guide_big.gif -text
SligoCS/Code/SligoCS.Web.WI/images/mast_head.gif -text
SligoCS/Code/SligoCS.Web.WI/images/mortar_big.gif -text
SligoCS/Code/SligoCS.Web.WI/images/mortar_big_on.gif -text
SligoCS/Code/SligoCS.Web.WI/images/perf_report.gif -text
SligoCS/Code/SligoCS.Web.WI/images/school_improve.gif -text
SligoCS/Code/SligoCS.Web.WI/images/standards_assessment.gif -text
SligoCS/Code/SligoCS.Web.WI/images/standards_big.gif -text
SligoCS/Code/SligoCS.Web.WI/images/state350h.gif -text
SligoCS/Code/SligoCS.Web.WI/images/strategic_plan.gif -text
SligoCS/Code/SligoCS.Web.WI/images/super_message.gif -text
SligoCS/Code/SligoCS.Web.WI/images/usingwinss.gif -text
SligoCS/Code/SligoCS.Web.WI/images/whatsnew1.gif -text
SligoCS/Code/SligoCS.Web.WI/images/white.gif -text
SligoCS/Code/SligoCS.Web.WI/images/wins_big.gif -text
