05.23/SligoCS.Tests.WI/obj
05.23/SligoCS.Web.WI/BL/bin
05.23/SligoCS.Web.WI/BL/obj
05.23/SligoCS.Web.WI/DAL/bin
SligoCS.Tests.WI/obj
SligoCS.Web.WI/BL/bin
SligoCS.Web.WI/BL/obj
SligoCS.Web.WI/DAL/bin
