mergeOldtrunk_begin/SligoCS.BL.Base/bin
mergeOldtrunk_begin/SligoCS.BL.Base/obj
mergeOldtrunk_begin/SligoCS.BL.WI/bin
mergeOldtrunk_begin/SligoCS.BL.WI/obj
mergeOldtrunk_begin/SligoCS.DAL.Base/bin
mergeOldtrunk_begin/SligoCS.DAL.Base/obj
mergeOldtrunk_begin/SligoCS.DAL.WI/bin
mergeOldtrunk_begin/SligoCS.Tests.WI/obj
mergeOldtrunk_end/SligoCS.BL.Base/bin
mergeOldtrunk_end/SligoCS.BL.Base/obj
mergeOldtrunk_end/SligoCS.BL.WI/bin
mergeOldtrunk_end/SligoCS.BL.WI/obj
mergeOldtrunk_end/SligoCS.DAL.Base/bin
mergeOldtrunk_end/SligoCS.DAL.Base/obj
mergeOldtrunk_end/SligoCS.DAL.WI/bin
mergeOldtrunk_end/SligoCS.Tests.WI/obj
mergeQueriesOneassembly_begin/SligoCS.BL.Base/bin
mergeQueriesOneassembly_begin/SligoCS.BL.Base/obj
mergeQueriesOneassembly_begin/SligoCS.BL.WI/bin
mergeQueriesOneassembly_begin/SligoCS.BL.WI/obj
mergeQueriesOneassembly_begin/SligoCS.DAL.Base/bin
mergeQueriesOneassembly_begin/SligoCS.DAL.Base/obj
mergeQueriesOneassembly_begin/SligoCS.DAL.WI/bin
mergeQueriesOneassembly_begin/SligoCS.Tests.WI/obj
mergeQueriesOneassembly_end/SligoCS.BL.Base/bin
mergeQueriesOneassembly_end/SligoCS.BL.Base/obj
mergeQueriesOneassembly_end/SligoCS.BL.WI/bin
mergeQueriesOneassembly_end/SligoCS.BL.WI/obj
mergeQueriesOneassembly_end/SligoCS.DAL.Base/bin
mergeQueriesOneassembly_end/SligoCS.DAL.Base/obj
mergeQueriesOneassembly_end/SligoCS.DAL.WI/bin
mergeQueriesOneassembly_end/SligoCS.Tests.WI/obj
oneassembly_v1/SligoCS.BL.WI/bin
oneassembly_v1/SligoCS.BL.WI/obj
oneassembly_v1/SligoCS.DAL.WI/bin
oneassembly_v1/SligoCS.Tests.WI/obj
oneassembly_v2_base/SligoCS.BL.Base/bin
oneassembly_v2_base/SligoCS.BL.Base/obj
oneassembly_v2_base/SligoCS.BL.WI/bin
oneassembly_v2_base/SligoCS.BL.WI/obj
oneassembly_v2_base/SligoCS.DAL.Base/bin
oneassembly_v2_base/SligoCS.DAL.Base/obj
oneassembly_v2_base/SligoCS.DAL.WI/bin
oneassembly_v2_base/SligoCS.Tests.WI/obj
oneassembly_v2_end/SligoCS.BL.WI/bin
oneassembly_v2_end/SligoCS.BL.WI/obj
oneassembly_v2_end/SligoCS.DAL.WI/bin
oneassembly_v2_end/SligoCS.Tests.WI/obj
oneassembly_v3_end/SligoCS.Tests.WI/obj
oneassembly_v3_end/SligoCS.Web.WI/BLL/bin
oneassembly_v3_end/SligoCS.Web.WI/BLL/obj
oneassembly_v3_end/SligoCS.Web.WI/DAL/bin
