* text=auto !eol
/ACTPage.aspx -text
/ACTPage.aspx.cs -text
/ACTPage.aspx.designer.cs -text
/APTestsPage.aspx -text
/APTestsPage.aspx.cs -text
/APTestsPage.aspx.designer.cs -text
/ActivitiesOffer.aspx -text
/ActivitiesOffer.aspx.cs -text
/ActivitiesOffer.aspx.designer.cs -text
/ActivitiesParticipate.aspx -text
/ActivitiesParticipate.aspx.cs -text
/ActivitiesParticipate.aspx.designer.cs -text
/AttendancePage.aspx -text
/AttendancePage.aspx.cs -text
/AttendancePage.aspx.designer.cs -text
BL/BLACT.cs -text
BL/BLAP_Tests.cs -text
BL/BLActivities.cs -text
BL/BLAgencyFull.cs -text
BL/BLAgencyFull_2006.cs -text
BL/BLAthleticConf.cs -text
BL/BLCourseOfferings.cs -text
BL/BLCoursesTaken.cs -text
BL/BLDistrict.cs -text
BL/BLDropouts.cs -text
BL/BLExpenditure.cs -text
BL/BLExpulsionServices.cs -text
BL/BLExpulsions.cs -text
BL/BLExpulsionsDaysLost.cs -text
BL/BLGrad_Reqs.cs -text
BL/BLPOST_GRAD_INTENT.cs -text
BL/BLRetention.cs -text
BL/BLRevenue.cs -text
BL/BLSchool.cs -text
BL/BLStaff.cs -text
BL/BLStateTestsPerformance.cs -text
BL/BLSuspExpIncidents.cs -text
BL/BLSuspensions.cs -text
BL/BLSuspensionsDaysLost.cs -text
BL/BLTeacherQualifications.cs -text
BL/BLTeacherQualificationsScatterPlot.cs -text
BL/BLWIBase.cs -text
BL/BLWRCT.cs -text
BL/Constants.cs -text
BL/DemoEntity.cs -text
BL/Enumerations.cs -text
BL/GenericsListHelper.cs -text
BL/Properties/AssemblyInfo.cs -text
BL/SampleEntity.cs -text
BL/SligoCS.BL.WI.csproj -text
BL/Utilities/BLUtil.cs -text
/ChooseSelected.aspx -text
/ChooseSelected.aspx.cs -text
/ChooseSelected.aspx.designer.cs -text
/ChooseSelectedList.aspx -text
/ChooseSelectedList.aspx.cs -text
/ChooseSelectedList.aspx.designer.cs -text
/ComparePerformance.aspx -text
/ComparePerformance.aspx.cs -text
/ComparePerformance.aspx.designer.cs -text
/CoursesOffer.aspx -text
/CoursesOffer.aspx.cs -text
/CoursesOffer.aspx.designer.cs -text
/CoursesTaking.aspx -text
/CoursesTaking.aspx.cs -text
/CoursesTaking.aspx.designer.cs -text
DAL/DALACT.cs -text
DAL/DALALLAgencies.cs -text
DAL/DALAP_TESTS.cs -text
DAL/DALActivities.cs -text
DAL/DALAgencies.cs -text
DAL/DALAgency.cs -text
DAL/DALAgencyFull.cs -text
DAL/DALAgencyFull_2006.cs -text
DAL/DALAthleticConf.cs -text
DAL/DALAttendance.cs -text
DAL/DALBase.cs -text
DAL/DALCourseOfferings.cs -text
DAL/DALCoursesTaken.cs -text
DAL/DALDisabilities.cs -text
DAL/DALDistrict.cs -text
DAL/DALDropouts.cs -text
DAL/DALEnrollment.cs -text
DAL/DALEnumerations.cs -text
DAL/DALExpenditure.cs -text
DAL/DALExpulsionServices.cs -text
DAL/DALExpulsionServicesAndReturns.cs -text
DAL/DALExpulsions.cs -text
DAL/DALExpulsionsDaysLost.cs -text
DAL/DALGrad_Reqs.cs -text
DAL/DALHSCompletion.cs -text
DAL/DALLowGradeHighGradePY.cs -text
DAL/DALPOST_GRAD_INTENT.cs -text
DAL/DALRetention.cs -text
DAL/DALRevenue.cs -text
DAL/DALSchools.cs -text
DAL/DALStaff.cs -text
DAL/DALSuspExpIncidents.cs -text
DAL/DALSuspendExpel.cs -text
DAL/DALSuspensions.cs -text
DAL/DALSuspensionsDaysLost.cs -text
DAL/DALTeacherQualifications.cs -text
DAL/DALTeacherQualificationsScatterPlot.cs -text
DAL/DALTruancy.cs -text
DAL/DALWIBase.cs -text
DAL/DALWRCT.cs -text
DAL/DALWSAS.cs -text
DAL/DALWSASDemographics.cs -text
DAL/DALWSASSimilarSchools.cs -text
DAL/DemoDAL.cs -text
DAL/FieldConstants.cs -text
DAL/Properties/AssemblyInfo.cs -text
DAL/Properties/Settings.Designer.cs -text
DAL/SQLHelper.cs -text
DAL/SampleDAL.cs -text
DAL/Settings.cs -text
DAL/SligoCS.DAL.WI.csproj -text
DAL/app.config -text
/Default.aspx -text
/Default.aspx.cs -text
/Default.aspx.designer.cs -text
/Demo.aspx -text
/Demo.aspx.cs -text
/Demo.aspx.designer.cs -text
/DisabilEnroll.aspx -text
/DisabilEnroll.aspx.cs -text
/DisabilEnroll.aspx.designer.cs -text
/DropOuts.aspx -text
/DropOuts.aspx.cs -text
/DropOuts.aspx.designer.cs -text
/ExpLength.aspx -text
/ExpLength.aspx.cs -text
/ExpLength.aspx.designer.cs -text
/ExpReturns.aspx -text
/ExpReturns.aspx.cs -text
/ExpReturns.aspx.designer.cs -text
/ExpServices.aspx -text
/ExpServices.aspx.cs -text
/ExpServices.aspx.designer.cs -text
/Expulsions.aspx -text
/Expulsions.aspx.cs -text
/Expulsions.aspx.designer.cs -text
/ExpulsionsDaysLost.aspx -text
/ExpulsionsDaysLost.aspx.cs -text
/ExpulsionsDaysLost.aspx.designer.cs -text
/GradReqsPage.aspx -text
/GradReqsPage.aspx.cs -text
/GradReqsPage.aspx.designer.cs -text
/GridPage.aspx -text
/GridPage.aspx.cs -text
/GridPage.aspx.designer.cs -text
/GroupEnroll.aspx -text
/GroupEnroll.aspx.cs -text
/GroupEnroll.aspx.designer.cs -text
/HSCompletionPage.aspx -text
/HSCompletionPage.aspx.cs -text
/HSCompletionPage.aspx.designer.cs -text
/MoneyPage.aspx -text
/MoneyPage.aspx.cs -text
/MoneyPage.aspx.designer.cs -text
/Offerings.aspx.cs -text
/Offerings.aspx.designer.cs -text
PageBase/PageBaseSligo.cs -text
PageBase/WI/LinkControlAddedHandlerDelegate.cs -text
PageBase/WI/PageBaseWI.cs -text
/ParameterDefaults.xml -text
/PostGradIntentPage.aspx -text
/PostGradIntentPage.aspx.cs -text
/PostGradIntentPage.aspx.designer.cs -text
Properties/AssemblyInfo.cs -text
Properties/Settings.Designer.cs -text
Properties/Settings.settings -text
Properties/licenses.licx -text
QStringDemo/QStringDemo.aspx -text
QStringDemo/QStringDemo.aspx.cs -text
QStringDemo/QStringDemo.aspx.designer.cs -text
QStringDemo/QStringLinks.aspx -text
QStringDemo/QStringLinks.aspx.cs -text
QStringDemo/QStringLinks.aspx.designer.cs -text
/Retention.aspx -text
/Retention.aspx.cs -text
/Retention.aspx.designer.cs -text
/SchoolScript.aspx -text
/SchoolScript.aspx.cs -text
/SchoolScript.aspx.designer.cs -text
/SelSchool.aspx -text
/SelSchool.aspx.cs -text
/SelSchool.aspx.designer.cs -text
/SligoCS.Web.WI.csproj -text
/StackedBarTest.aspx -text
/StackedBarTest.aspx.cs -text
/StackedBarTest.aspx.designer.cs -text
/StaffPage.aspx -text
/StaffPage.aspx.cs -text
/StaffPage.aspx.designer.cs -text
/StateTestsPerformance.aspx -text
/StateTestsPerformance.aspx.cs -text
/StateTestsPerformance.aspx.designer.cs -text
/StateTestsScatterplot.aspx -text
/StateTestsScatterplot.aspx.cs -text
/StateTestsScatterplot.aspx.designer.cs -text
/StateTestsSimilarSchools.aspx -text
/StateTestsSimilarSchools.aspx.cs -text
/StateTestsSimilarSchools.aspx.designer.cs -text
/SuspExpIncidents.aspx -text
/SuspExpIncidents.aspx.cs -text
/SuspExpIncidents.aspx.designer.cs -text
/Suspensions.aspx -text
/Suspensions.aspx.cs -text
/Suspensions.aspx.designer.cs -text
/SuspensionsDaysLost.aspx -text
/SuspensionsDaysLost.aspx.cs -text
/SuspensionsDaysLost.aspx.designer.cs -text
/TeacherQualifications.aspx -text
/TeacherQualifications.aspx.cs -text
/TeacherQualifications.aspx.designer.cs -text
/TeacherQualificationsScatterPlot.aspx -text
/TeacherQualificationsScatterPlot.aspx.cs -text
/TeacherQualificationsScatterPlot.aspx.designer.cs -text
/Truancy.aspx -text
/Truancy.aspx.cs -text
/Truancy.aspx.designer.cs -text
/WI.Master -text
/WI.Master.cs -text
/WI.Master.designer.cs -text
/WRCTPerformance.aspx -text
/WRCTPerformance.aspx.cs -text
/WRCTPerformance.aspx.designer.cs -text
/Web.config -text
WebSupportingClasses/ColumnPicker.cs -text
WebSupportingClasses/FullKeyUtils.cs -text
WebSupportingClasses/HyperLinkToggle.cs -text
WebSupportingClasses/QueryMarshaller.cs -text
WebSupportingClasses/SligoDataGrid.cs -text
WebSupportingClasses/TitleBuilder.cs -text
WebSupportingClasses/WI/DataTableSorter.cs -text
WebSupportingClasses/WI/DownloadRawDataColumnHelper.cs -text
WebSupportingClasses/WI/GlobalValues.cs -text
WebSupportingClasses/WI/ParameterValues.cs -text
WebSupportingClasses/WI/ParameterValues/ACTSubj.cs -text
WebSupportingClasses/WI/ParameterValues/CT.cs -text
WebSupportingClasses/WI/ParameterValues/CompareTo.cs -text
WebSupportingClasses/WI/ParameterValues/CourseTypeID.cs -text
WebSupportingClasses/WI/ParameterValues/DISABILITY.cs -text
WebSupportingClasses/WI/ParameterValues/DnlRaw.cs -text
WebSupportingClasses/WI/ParameterValues/ECON.cs -text
WebSupportingClasses/WI/ParameterValues/FAYCode.cs -text
WebSupportingClasses/WI/ParameterValues/GRSbj.cs -text
WebSupportingClasses/WI/ParameterValues/Grade.cs -text
WebSupportingClasses/WI/ParameterValues/GraphFile.cs -text
WebSupportingClasses/WI/ParameterValues/Group.cs -text
WebSupportingClasses/WI/ParameterValues/Group2.cs -text
WebSupportingClasses/WI/ParameterValues/HighSchoolCompletion.cs -text
WebSupportingClasses/WI/ParameterValues/Incident.cs -text
WebSupportingClasses/WI/ParameterValues/LEP.cs -text
WebSupportingClasses/WI/ParameterValues/LF.cs -text
WebSupportingClasses/WI/ParameterValues/Level.cs -text
WebSupportingClasses/WI/ParameterValues/NoChce.cs -text
WebSupportingClasses/WI/ParameterValues/OrgLevel.cs -text
WebSupportingClasses/WI/ParameterValues/PostGradPlan.cs -text
WebSupportingClasses/WI/ParameterValues/PrDis.cs -text
WebSupportingClasses/WI/ParameterValues/Rel.cs -text
WebSupportingClasses/WI/ParameterValues/RevExp.cs -text
WebSupportingClasses/WI/ParameterValues/S4orALL.cs -text
WebSupportingClasses/WI/ParameterValues/SIZE.cs -text
WebSupportingClasses/WI/ParameterValues/SORT.cs -text
WebSupportingClasses/WI/ParameterValues/SPEND.cs -text
WebSupportingClasses/WI/ParameterValues/SRegion.cs -text
WebSupportingClasses/WI/ParameterValues/STYP.cs -text
WebSupportingClasses/WI/ParameterValues/Show.cs -text
WebSupportingClasses/WI/ParameterValues/Sim.cs -text
WebSupportingClasses/WI/ParameterValues/StaffRatio.cs -text
WebSupportingClasses/WI/ParameterValues/SubjectID.cs -text
WebSupportingClasses/WI/ParameterValues/TQLocation.cs -text
WebSupportingClasses/WI/ParameterValues/TQRelateTo.cs -text
WebSupportingClasses/WI/ParameterValues/TQShow.cs -text
WebSupportingClasses/WI/ParameterValues/TQSubjects.cs -text
WebSupportingClasses/WI/ParameterValues/TQSubjectsSP.cs -text
WebSupportingClasses/WI/ParameterValues/TQTeacherVariable.cs -text
WebSupportingClasses/WI/ParameterValues/TmFrm.cs -text
WebSupportingClasses/WI/ParameterValues/WMAS.cs -text
WebSupportingClasses/WI/ParameterValues/WOW.cs -text
WebSupportingClasses/WI/ParameterValues/Weapon.cs -text
WebSupportingClasses/WI/ParameterValues/WkceWsas.cs -text
WebSupportingClasses/WI/QueryStringUtils.cs -text
WebSupportingClasses/WI/SerializableDictionary.cs -text
WebSupportingClasses/WI/StickyParameter.PrivateMembers.cs -text
WebSupportingClasses/WI/StickyParameter.PublicAccessors.cs -text
WebSupportingClasses/WI/StickyParameter.cs -text
WebSupportingClasses/WI/TraceStateUtils.cs -text
WebSupportingClasses/WinssDataGrid.cs -text
WebSupportingClasses/WinssDataGridColumn.cs -text
WebUserControls/AlphaLinkWebUserControl.ascx -text
WebUserControls/AlphaLinkWebUserControl.ascx.cs -text
WebUserControls/AlphaLinkWebUserControl.ascx.designer.cs -text
WebUserControls/AlphabetXML.xml -text
WebUserControls/AttendanceDataInfo.ascx -text
WebUserControls/AttendanceDataInfo.ascx.cs -text
WebUserControls/AttendanceDataInfo.ascx.designer.cs -text
WebUserControls/AttendanceText1.ascx -text
WebUserControls/AttendanceText1.ascx.cs -text
WebUserControls/AttendanceText1.ascx.designer.cs -text
WebUserControls/Big_Header_Graphics.ascx -text
WebUserControls/Big_Header_Graphics.ascx.cs -text
WebUserControls/Big_Header_Graphics.ascx.designer.cs -text
WebUserControls/BottomLinkAMO.ascx -text
WebUserControls/BottomLinkAMO.ascx.cs -text
WebUserControls/BottomLinkAMO.ascx.designer.cs -text
WebUserControls/BottomLinkDownload.ascx -text
WebUserControls/BottomLinkDownload.ascx.cs -text
WebUserControls/BottomLinkDownload.ascx.designer.cs -text
WebUserControls/BottomLinkEnrollmentCounts.ascx -text
WebUserControls/BottomLinkEnrollmentCounts.ascx.cs -text
WebUserControls/BottomLinkEnrollmentCounts.ascx.designer.cs -text
WebUserControls/BottomLinkMoreData.ascx -text
WebUserControls/BottomLinkMoreData.ascx.cs -text
WebUserControls/BottomLinkMoreData.ascx.designer.cs -text
WebUserControls/BottomLinkNoData.ascx -text
WebUserControls/BottomLinkNoData.ascx.cs -text
WebUserControls/BottomLinkNoData.ascx.designer.cs -text
WebUserControls/BottomLinkViewDistrictReport.ascx -text
WebUserControls/BottomLinkViewDistrictReport.ascx.cs -text
WebUserControls/BottomLinkViewDistrictReport.ascx.designer.cs -text
WebUserControls/BottomLinkViewProfile.ascx -text
WebUserControls/BottomLinkViewProfile.ascx.cs -text
WebUserControls/BottomLinkViewProfile.ascx.designer.cs -text
WebUserControls/BottomLinkViewReport.ascx -text
WebUserControls/BottomLinkViewReport.ascx.cs -text
WebUserControls/BottomLinkViewReport.ascx.designer.cs -text
WebUserControls/BottomLinkWhatToConsider.ascx -text
WebUserControls/BottomLinkWhatToConsider.ascx.cs -text
WebUserControls/BottomLinkWhatToConsider.ascx.designer.cs -text
WebUserControls/BottomLinkWhyNotReported.ascx -text
WebUserControls/BottomLinkWhyNotReported.ascx.cs -text
WebUserControls/BottomLinkWhyNotReported.ascx.designer.cs -text
WebUserControls/BottomLinks.ascx -text
WebUserControls/BottomLinks.ascx.cs -text
WebUserControls/BottomLinks.ascx.designer.cs -text
WebUserControls/CESAMapBase.cs -text
WebUserControls/CESA_Map.ascx -text
WebUserControls/CESA_Map.ascx.cs -text
WebUserControls/CESA_Map.ascx.designer.cs -text
WebUserControls/CESA_Map_1.ascx -text
WebUserControls/CESA_Map_1.ascx.cs -text
WebUserControls/CESA_Map_1.ascx.designer.cs -text
WebUserControls/CESA_Map_10.ascx -text
WebUserControls/CESA_Map_10.ascx.cs -text
WebUserControls/CESA_Map_10.ascx.designer.cs -text
WebUserControls/CESA_Map_11.ascx -text
WebUserControls/CESA_Map_11.ascx.cs -text
WebUserControls/CESA_Map_11.ascx.designer.cs -text
WebUserControls/CESA_Map_12.ascx -text
WebUserControls/CESA_Map_12.ascx.cs -text
WebUserControls/CESA_Map_12.ascx.designer.cs -text
WebUserControls/CESA_Map_1_2.ascx -text
WebUserControls/CESA_Map_1_2.ascx.cs -text
WebUserControls/CESA_Map_1_2.ascx.designer.cs -text
WebUserControls/CESA_Map_2.ascx -text
WebUserControls/CESA_Map_2.ascx.cs -text
WebUserControls/CESA_Map_2.ascx.designer.cs -text
WebUserControls/CESA_Map_2_2.ascx -text
WebUserControls/CESA_Map_2_2.ascx.cs -text
WebUserControls/CESA_Map_2_2.ascx.designer.cs -text
WebUserControls/CESA_Map_3.ascx -text
WebUserControls/CESA_Map_3.ascx.cs -text
WebUserControls/CESA_Map_3.ascx.designer.cs -text
WebUserControls/CESA_Map_4.ascx -text
WebUserControls/CESA_Map_4.ascx.cs -text
WebUserControls/CESA_Map_4.ascx.designer.cs -text
WebUserControls/CESA_Map_5.ascx -text
WebUserControls/CESA_Map_5.ascx.cs -text
WebUserControls/CESA_Map_5.ascx.designer.cs -text
WebUserControls/CESA_Map_6.ascx -text
WebUserControls/CESA_Map_6.ascx.cs -text
WebUserControls/CESA_Map_6.ascx.designer.cs -text
WebUserControls/CESA_Map_6_2.ascx -text
WebUserControls/CESA_Map_6_2.ascx.cs -text
WebUserControls/CESA_Map_6_2.ascx.designer.cs -text
WebUserControls/CESA_Map_7.ascx -text
WebUserControls/CESA_Map_7.ascx.cs -text
WebUserControls/CESA_Map_7.ascx.designer.cs -text
WebUserControls/CESA_Map_8.ascx -text
WebUserControls/CESA_Map_8.ascx.cs -text
WebUserControls/CESA_Map_8.ascx.designer.cs -text
WebUserControls/CESA_Map_9.ascx -text
WebUserControls/CESA_Map_9.ascx.cs -text
WebUserControls/CESA_Map_9.ascx.designer.cs -text
WebUserControls/CESA_Map_9_2.ascx -text
WebUserControls/CESA_Map_9_2.ascx.cs -text
WebUserControls/CESA_Map_9_2.ascx.designer.cs -text
WebUserControls/CESA_Map_Control.ascx -text
WebUserControls/CESA_Map_Control.ascx.cs -text
WebUserControls/CESA_Map_Control.ascx.designer.cs -text
WebUserControls/ChangeSelectedSchoolOrDistrictLink.ascx -text
WebUserControls/ChangeSelectedSchoolOrDistrictLink.ascx.cs -text
WebUserControls/ChangeSelectedSchoolOrDistrictLink.ascx.designer.cs -text
WebUserControls/DataAnalysisInfo.ascx -text
WebUserControls/DataAnalysisInfo.ascx.cs -text
WebUserControls/DataAnalysisInfo.ascx.designer.cs -text
WebUserControls/DemographicsText1.ascx -text
WebUserControls/DemographicsText1.ascx.cs -text
WebUserControls/DemographicsText1.ascx.designer.cs -text
WebUserControls/DistrictInfo.ascx -text
WebUserControls/DistrictInfo.ascx.cs -text
WebUserControls/DistrictInfo.ascx.designer.cs -text
WebUserControls/DistrictMapInfo.ascx -text
WebUserControls/DistrictMapInfo.ascx.cs -text
WebUserControls/DistrictMapInfo.ascx.designer.cs -text
WebUserControls/GraphBarChart.cs -text
WebUserControls/GraphHorizBarChart.cs -text
WebUserControls/GraphScatterplot.cs -text
WebUserControls/InitSelSchoolInfo.ascx -text
WebUserControls/InitSelSchoolInfo.ascx.cs -text
WebUserControls/InitSelSchoolInfo.ascx.designer.cs -text
WebUserControls/Mixed_Header_Graphics.ascx -text
WebUserControls/Mixed_Header_Graphics.ascx.cs -text
WebUserControls/Mixed_Header_Graphics.ascx.designer.cs -text
WebUserControls/NavCompareTo.ascx -text
WebUserControls/NavCompareTo.ascx.cs -text
WebUserControls/NavCompareTo.ascx.designer.cs -text
WebUserControls/NavSchoolType.ascx -text
WebUserControls/NavSchoolType.ascx.cs -text
WebUserControls/NavSchoolType.ascx.designer.cs -text
WebUserControls/NavSimilarCriteria.ascx -text
WebUserControls/NavSimilarCriteria.ascx.cs -text
WebUserControls/NavSimilarCriteria.ascx.designer.cs -text
WebUserControls/NavViewByGroup.ascx -text
WebUserControls/NavViewByGroup.ascx.cs -text
WebUserControls/NavViewByGroup.ascx.designer.cs -text
WebUserControls/NavigationLinkRow.ascx -text
WebUserControls/NavigationLinkRow.ascx.cs -text
WebUserControls/NavigationLinkRow.ascx.designer.cs -text
WebUserControls/OfferingsText1.ascx -text
WebUserControls/OfferingsText1.ascx.cs -text
WebUserControls/OfferingsText1.ascx.designer.cs -text
WebUserControls/PerformanceText1.ascx -text
WebUserControls/PerformanceText1.ascx.cs -text
WebUserControls/PerformanceText1.ascx.designer.cs -text
WebUserControls/PlanningHelp.ascx -text
WebUserControls/PlanningHelp.ascx.cs -text
WebUserControls/PlanningHelp.ascx.designer.cs -text
WebUserControls/QuestionsText1.ascx -text
WebUserControls/QuestionsText1.ascx.cs -text
WebUserControls/QuestionsText1.ascx.designer.cs -text
WebUserControls/SelSchoolText2.ascx -text
WebUserControls/SelSchoolText2.ascx.cs -text
WebUserControls/SelSchoolText2.ascx.designer.cs -text
WebUserControls/SelSchoolText3.ascx -text
WebUserControls/SelSchoolText3.ascx.cs -text
WebUserControls/SelSchoolText3.ascx.designer.cs -text
WebUserControls/SelSchoolText4.ascx -text
WebUserControls/SelSchoolText4.ascx.cs -text
WebUserControls/SelSchoolText4.ascx.designer.cs -text
WebUserControls/SligoWIGraph.ascx -text
WebUserControls/SligoWIGraph.ascx.cs -text
WebUserControls/SligoWIGraph.ascx.designer.cs -text
WebUserControls/Small_Header_Graphics.ascx -text
WebUserControls/Small_Header_Graphics.ascx.cs -text
WebUserControls/Small_Header_Graphics.ascx.designer.cs -text
WebUserControls/StandardsPerformance.ascx -text
WebUserControls/StandardsPerformance.ascx.cs -text
WebUserControls/StandardsPerformance.ascx.designer.cs -text
WebUserControls/StudentCharacteristics.ascx -text
WebUserControls/StudentCharacteristics.ascx.cs -text
WebUserControls/StudentCharacteristics.ascx.designer.cs -text
WebUserControls/WIUserControlBase.cs -text
WebUserControls/WI_DPI_Disclaim.ascx -text
WebUserControls/WI_DPI_Disclaim.ascx.cs -text
WebUserControls/WI_DPI_Disclaim.ascx.designer.cs -text
WebUserControls/selMultiSchoolsDirections.ascx -text
WebUserControls/selMultiSchoolsDirections.ascx.cs -text
WebUserControls/selMultiSchoolsDirections.ascx.designer.cs -text
/attendance.aspx -text
/attendance.aspx.cs -text
/attendance.aspx.designer.cs -text
/demographics.aspx -text
/demographics.aspx.cs -text
/demographics.aspx.designer.cs -text
/dpi_mac.css -text
/dpi_pc.css -text
highlighter/LGPLv3.txt -text
highlighter/scripts/clipboard.swf -text
highlighter/scripts/shBrushAS3.js -text
highlighter/scripts/shBrushBash.js -text
highlighter/scripts/shBrushCSharp.js -text
highlighter/scripts/shBrushCpp.js -text
highlighter/scripts/shBrushCss.js -text
highlighter/scripts/shBrushDelphi.js -text
highlighter/scripts/shBrushDiff.js -text
highlighter/scripts/shBrushGroovy.js -text
highlighter/scripts/shBrushJScript.js -text
highlighter/scripts/shBrushJava.js -text
highlighter/scripts/shBrushJavaFX.js -text
highlighter/scripts/shBrushPerl.js -text
highlighter/scripts/shBrushPhp.js -text
highlighter/scripts/shBrushPlain.js -text
highlighter/scripts/shBrushPowerShell.js -text
highlighter/scripts/shBrushPython.js -text
highlighter/scripts/shBrushRuby.js -text
highlighter/scripts/shBrushScala.js -text
highlighter/scripts/shBrushSql.js -text
highlighter/scripts/shBrushVb.js -text
highlighter/scripts/shBrushXml.js -text
highlighter/scripts/shCore.js -text
highlighter/scripts/shLegacy.js -text
highlighter/src/shCore.js -text
highlighter/src/shLegacy.js -text
highlighter/styles/help.png -text
highlighter/styles/magnifier.png -text
highlighter/styles/page_white_code.png -text
highlighter/styles/page_white_copy.png -text
highlighter/styles/printer.png -text
highlighter/styles/shCore.css -text
highlighter/styles/shThemeDefault.css -text
highlighter/styles/shThemeDjango.css -text
highlighter/styles/shThemeEmacs.css -text
highlighter/styles/shThemeFadeToGrey.css -text
highlighter/styles/shThemeMidnight.css -text
highlighter/styles/shThemeRDark.css -text
highlighter/styles/wrapping.png -text
highlighter/test.html -text
images/2cesa1_445w.gif -text
images/assess_runner.gif -text
images/best_pract.gif -text
images/cesa10map385h.gif -text
images/cesa11map400h.gif -text
images/cesa12map350w.gif -text
images/cesa1map2.gif -text
images/cesa1map500h.gif -text
images/cesa2map2_445w.gif -text
images/cesa3map350w.gif -text
images/cesa4map.gif -text
images/cesa5map385h.gif -text
images/cesa6map2_385h.gif -text
images/cesa6map385h.gif -text
images/cesa7map500h.gif -text
images/cesa8map330w.gif -text
images/cesa9map2_385h.gif -text
images/cesa9map385h.gif -text
images/data_big.gif -text
images/data_sm_lft.gif -text
images/data_sm_lft_on.gif -text
images/data_sm_rt.gif -text
images/data_title1.gif -text
images/data_title2.gif -text
images/data_title3.gif -text
images/data_title4.gif -text
images/dataanalysis.gif -text
images/grey_dot.gif -text
images/guide_big.gif -text
images/guide_sm.gif -text
images/mast_head.gif -text
images/mortar.gif -text
images/mortar_big.gif -text
images/mortar_big_on.gif -text
images/mortar_on.gif -text
images/mortartip_sm.gif -text
images/perf_report.gif -text
images/pic1.gif -text
images/pic1A.gif -text
images/pic1_on.gif -text
images/pic2.gif -text
images/pic2A.gif -text
images/pic2_on.gif -text
images/pic3.gif -text
images/pic3A.gif -text
images/pic3_on.gif -text
images/pic4.gif -text
images/pic4A.gif -text
images/pic4_on.gif -text
images/school_improve.gif -text
images/spacer.gif -text
images/standards_assessment.gif -text
images/standards_big.gif -text
images/state350h.gif -text
images/strategic_plan.gif -text
images/super_message.gif -text
images/usingwinss.gif -text
images/whatsnew1.gif -text
images/white.gif -text
images/wins_big.gif -text
images/wins_sm.gif -text
js/cookies.js -text
js/district_caption.js -text
js/image_manager.js -text
js/trans_popup.js -text
/offerings.aspx -text
/performance.aspx -text
/performance.aspx.cs -text
/performance.aspx.designer.cs -text
/questions.aspx -text
/questions.aspx.cs -text
/questions.aspx.designer.cs -text
/selschool.asp -text
/serveRawDataCsv.aspx -text
/serveRawDataCsv.aspx.cs -text
/serveRawDataCsv.aspx.designer.cs -text
/survey_popup.html -text
