<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SligoCS.DAL.WI.Properties.Settings.WI_2005_03_22ConnectionString"
            connectionString="Data Source=FLANDERS;Initial Catalog=Wisconsin;User ID=netwisco;Password=wkce99"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
