.questionsblue {color:#57ACC5; font-family:times, Arial, Helvetica; font-size:15pt; text-weight: bold; text-decoration: none;}
	#questionsblue {color:#57ACC5; font-family:times, Arial, Helvetica; font-size:15pt; text-decoration: none;}
	#questionsblue:hover {color:#0000FF; font-family:Arial, Helvetica; font-size:15pt; text-weight: bold; text-decoration: none;}

.questionsbluesm {color:#57ACC5; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No. 2, Arial, Helvetica; font-size:13pt; text-weight: bold; text-decoration: none;}
	#questionsbluesm {color:#57ACC5; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:13pt; text-decoration: none;}
	#questionsbluesm:hover {color:#0000FF; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:13pt; text-weight: bold; text-decoration: none;}

.questionsgold {color:#EBA600; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No. 2, Arial, Helvetica; font-size:15pt; text-weight: bold; text-decoration: none;}
	#questionsgold {color:#EBA600; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:15pt; text-decoration: none;}
	#questionsgold:hover {color:#0000FF; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:15pt; text-weight: bold; text-decoration: none;}

.questionsgoldsm {color:#EBA600; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No. 2, Arial, Helvetica; font-size:13pt; text-weight: bold; text-decoration: none;}
	#questionsgoldsm {color:#EBA600; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:13pt; text-decoration: none;}
	#questionsgoldsm:hover {color:#0000FF; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:13pt; text-weight: bold; text-decoration: none;}

.questionsfuchsia {color:#D82058; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No. 2, Arial, Helvetica; font-size:15pt; text-weight: bold; text-decoration: none;}
	#questionsfuchsia {color:#D82058; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:15pt; text-decoration: none;}
	#questionsfuchsia:hover {color:#0000FF; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:15pt; text-weight: bold; text-decoration: none;}

.questionsfuchsiasm {color:#D82058; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No. 2, Arial, Helvetica; font-size:13pt; text-weight: bold; text-decoration: none;}
	#questionsfuchsiasm {color:#D82058; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:13pt; text-decoration: none;}
	#questionsfuchsiam:hover {color:#0000FF; font-family:FrnkGothITC,FrnkGothITC Bk BT, Franklin Gothic No.2, Arial, Helvetica; font-size:13pt; text-weight: bold; text-decoration: none;}

.title {color:#000000; font-family:Arial, Helvetica; font-size:14pt; text-decoration: none;}
.text {color:#000000; font-family:Arial, Helvetica; font-size:12pt; text-decoration: none;}
.textwhite {color:#ffffff; font-family:Verdana, Arial, Helvetica; font-size:10pt; text-decoration: none;}
.smtext {color:#000000; font-family:Verdana, Arial, Helvetica; font-size:8pt; text-decoration: none;}
.verysmtext {color:#000000; font-family:Verdana, Arial, Helvetica; font-size:7pt; text-decoration: none;}
.belowpic {color:#000000; font-family:Verdana, Arial, Helvetica; font-size:10pt; text-decoration: none;}
.profilebar {color:#ffffff; font-family:Verdana, Arial, Helvetica; font-size:8pt; text-decoration: none;}
}
.profilebar {color:#ffffff; font-family:Verdana, Arial, Helvetica; font-size:8pt; text-decoration: none;}
