<?xml version="1.0"?><configuration>
	<appSettings>
    <add key="AgencyYear" value="2009"/>
    <add key="GenericCsvName" value="true"/>
	</appSettings>
	<connectionStrings>
     <add name="SligoCS.Web.WI.Properties.Settings.WI_2005_03_22ConnectionString"
         connectionString="Data Source=(local);Initial Catalog=Wisconsin;User ID=netwisco;Password=wkce99; Connection Timeout=300"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false">
	
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
    <pages>
      <controls>
        <add tagPrefix="slb" namespace="SligoCS.Web.Base.WebServerControls.WI" assembly="SligoCS.Web.Base"/>
        <add tagPrefix="slx" namespace="SligoCS.Web.WI.WebSupportingClasses" assembly="SligoCS.Web.WI"/>
        <add tagPrefix="slw" namespace="SligoCS.Web.WI.WebUserControls" assembly="SligoCS.Web.WI"/>
        <add tagPrefix="sli" namespace="SligoCS.Web.WI.WebUserControls" assembly="Sligocs.Web.WI"/>
        
       <add tagPrefix="sli" tagName="ChangeSelectedSchoolOrDistrictLink" src="~/WebUserControls/ChangeSelectedSchoolOrDistrictLink.ascx"/>
       
        <add tagPrefix="sli" src="~/WebUserControls/NavigationLinkRow.ascx"  tagName="NavigationLinkRow" />
        <add tagPrefix="sli" src="~/WebUserControls/NavCompareTo.ascx" tagName="NavCompareTo" />
        <add tagPrefix="sli" src="~/WebUserControls/NavSimilarCriteria.ascx" tagName="NavSimilarCriteria" />
        <add tagPrefix="sli" src="~/WebUserControls/NavViewByGroup.ascx" tagName="NavViewByGroup" />
        <add tagPrefix="sli" src="~/WebUserControls/NavSchoolType.ascx" tagName="NavSchoolType"/>
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkMoreData.ascx" tagName="BottomLinkMoreData" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkViewReport.ascx" tagName="BottomLinkViewReport" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkViewDistrictReport.ascx" tagName="BottomLinkViewDistrictReport" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkViewProfile.ascx" tagName="BottomLinkViewProfile" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkDownload.ascx" tagName="BottomLinkDownload" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkWhatToConsider.ascx" tagName="BottomLinkWhatToConsider" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkEnrollmentCounts.ascx" tagName="BottomLinkEnrollmentCounts" />
        <add tagPrefix="sli" src="~/WebUserControls/BottomLinkWhyNotReported.ascx" tagName="BottomLinkWhyNotReported" />
        <add tagPrefix="slw" src="~/WebUserControls/Mixed_Header_Graphics.ascx" tagName="Mixed_Header_Graphics" />
        <add tagPrefix="slw" src="~/WebUserControls/StudentCharacteristics.ascx" tagName="StudentCharacteristics" />
        <add tagPrefix="slw" src="~/WebUserControls/AttendanceDataInfo.ascx" tagName="AttendanceDataInfo" />
        <add tagPrefix="slw" src="~/WebUserControls/StandardsPerformance.ascx" tagName="StandardsPerformance" />
        <add tagPrefix="slw" src="~/WebUserControls/PlanningHelp.ascx" tagName="PlanningHelp" />
        <add tagPrefix="slw" src="~/WebUserControls/DataAnalysisInfo.ascx" tagName="DataAnalysisInfo" />
        <add tagPrefix="slw" src="~/WebUserControls/DistrictInfo.ascx" tagName="DistrictInfo" />
        <add tagPrefix="slw" src="~/WebUserControls/WI_DPI_Disclaim.ascx" tagName="WI_DPI_Disclaim" />
        <add tagPrefix="slw" src="~/WebUserControls/DistrictMapInfo.ascx" tagName="DistrictMapInfo" />
        <add tagPrefix="slw" src="~/WebUserControls/InitSelSchoolInfo.ascx" tagName="InitSelSchoolInfo" />
        <add tagPrefix="slw" src="~/WebUserControls/Small_Header_Graphics.ascx" tagName="Small_Header_Graphics" />
        <add tagPrefix="slw" src="~/WebUserControls/Big_Header_Graphics.ascx" tagName="Big_Header_Graphics" />
        <add tagPrefix="slw" src="~/WebUserControls/selMultiSchoolsDirections.ascx" tagName="selMultiSchoolsDirections" />
        
         <add tagPrefix="Graph" namespace="SligoCS.Web.WI.WebUserControls" assembly="SligoCS.Web.WI" />

                            </controls>
    </pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->
            <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
              <error statusCode="403" redirect="NoAccess.htm" />
              <error statusCode="404" redirect="FileNotFound.htm" />
            </customErrors>

          </system.web>
</configuration>