<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!--NOTE:  this connection string is only used by the designer at design time to generate datasets.
			  At runtime, the system uses the connection string in Web.Config to determine which database
			   to read and write from.  djw 10/9/07-->
		
        <add name="SligoCS.DAL.WI.Properties.Settings.WI_2005_03_22ConnectionString"
            connectionString="Data Source=marge;Initial Catalog=WI-2005-03-22;User ID=netwisco;Password=WKCE99"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>