<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SligoCS.DAL.WI.Properties.Settings.ConnectionString"
            connectionString="Data Source=FLANDERS;Persist Security Info=True;User ID=netwisco;Password=wkce99"
            providerName="System.Data.SqlClient" />
        <add name="SligoCS.DAL.WI.Properties.Settings.WI_2005_03_22ConnectionString1"
            connectionString="Data Source=FLANDERS;Initial Catalog=Wisconsin;Persist Security Info=True;User ID=NETWISCO;Password=wkce99"
            providerName="System.Data.SqlClient" />
        <add name="SligoCS.DAL.WI.Properties.Settings.WI_2005_03_22ConnectionString2"
            connectionString="Data Source=FLANDERS;Initial Catalog=Wisconsin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>